.hbs<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 800px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: skyblue;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>   
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Age</a></li>
        <li><a href="#">Gender</a></li>
        <li><a href="https://admin-panel-tpk5.onrender.com/">Geo</a></li>
         <li><a href="https://admin-panel-tpk5.onrender.com/">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Age</a></li>
        <li><a href="index.hbs">Gender</a></li>
        <li><a href="https://admin-panel-tpk5.onrender.com/">Geo</a></li>
        <li><a href="https://admin-panel-tpk5.onrender.com/">Logout</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9" >
      <div class="well"style="background-color: skyblue;">
        <h4>Dashboard</h4>
      </div>
     
            <h3>Link : TSSC TP Login Panel</h3>
</h3><a href="http://pms.tsscindia.com/partner/login" > 
http://pms.tsscindia.com/partner/login </a><br><br>
<div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" value="TP2425004344">
<br><br>
</html>
</body>
<html>
<body>
Password: <input type="password" value="Deepak@3370" 
id="myInput"><br>
<input type="checkbox" onclick="myFunction()">Show Password

<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script> 
          </div>
  <br>
        </div>
        <div class="col-sm-3">
          <div class="well"style="background-color: violet;">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        <br>
        <h3>Link : Login Panel For Portal</h3>
</h3><a href="https://pbetb.org.in/portal/admin/login.php" > 
https://pbetb.org.in/portal/admin/login.php </a><br><br>
<div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" value="pbetb.org.in@gmail.com">
<br><br>
</html>
</body>
<html>
<body>
Password: <input type="password" value="Deepak@3370" 
id="myInput"><br>
<input type="checkbox" onclick="myFunction()">Show Password

<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well"style="background-color: violet;">
            <h4>Bounce</h4>
            <p>30%</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well"style="background-color: yellow;">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
